// FONTS
$font__mulish: 'Mulish', sans-serif;
$font__roboto: 'Roboto', sans-serif;
$font__story: 'Poor Story', cursive;
$font_monospace: 'Courier New', Courier, monospace;

// COLORS
$color__error: #fc7266;

$color__scrollbar: #c5c5c5;
$color__scrollbar-track: #ececec;

$color__main--red: #fc7266;
$color__main--orange: #fc9f66;
$color__main--yellow: #fdc500;
$color__main--blue: #309deb;
$color__main--green: #0be1a3;
